*  {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    /* font-weight: 300; */
    font-size: 20px;

    --blue: 200;
    --yellow: 55;
    --green: 80;
    --red: 0;
    --orange: 15;
    --pink: 330;
    --purple: 280;

    --color: white;
    color: white;
}

body {
    background: #111;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

header {
    width: 100%;
    background: #000;
    padding: 1rem;
}

h1 {
    font-size: 1.8rem;
    /* text-align: center; */
    color: white;
    letter-spacing: 1px;
}

h2 {
    color: hsl(var(--pink), 100%, 50%);
    font-size: 1.6rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 0.25em;
    margin-bottom: 0.75em;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.2em;
    margin: 2em 0 0.5em;
    color: hsl(var(--blue), 100%, 50%);
    font-weight: 800;
    letter-spacing: 1px;
}

h4 {
    font-size: 1.1em;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
}


p {
    line-height: 1.4em;
    word-spacing: 1px;
    margin-bottom: 1em;
}
p:last-child {
    margin-bottom: 0;
}

b {
    font-weight: bold;
}
i {
    font-style: italic;
}

a {
    color: hsl(var(--pink), 100%, 50%);
    font-weight: 800;
    text-decoration: none;

    transition: color 0.15s, padding 0.25s;
}
a:hover {
    cursor: pointer;
    color: hsl(var(--pink), 100%, 90%);
}

li {
    list-style-type: '-    ';
    margin-left: 2em;
    margin-bottom: 0.25em;
}

img {
    display: block;
    margin: 0 auto 1em;
}

footer {
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 0.8rem;
    background: #000;
    color: #aaa;
}

pre {
    border: 2px solid #060606 !important;
    box-shadow: none !important;
}

code {
    border: none !important;
    background: black !important;
}

pre code {
    background: none !important;
}

button {
    padding: 0.5em;
    background: hsl(var(--blue), 100%, 50%);
    transition: background 0.15s;
    min-width: 100px;
    border-radius: 5px;
    border: 3px solid hsl(var(--blue), 100%, 20%);
}

button:hover {
    cursor: pointer;
    color: hsl(var(--blue), 100%, 70%);
    background: hsl(var(--blue), 100%, 5%);
}


/* width */
::-webkit-scrollbar { width: 10px; }

/* Track */
::-webkit-scrollbar-track { background: black; }

/* Handle */
::-webkit-scrollbar-thumb { 
    background: hsl(var(--blue), 100%, 50%, 0.5);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }